// -------------------------------------------
//   Header Banner
// -------------------------------------------

.header-banner-layout {
  max-width: $content-width;

  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;

  @include clearfix();

  .social-collection {
    float: right;
  }

  .horizontal-navigation {
    height: $header-height;

    li {
      font-size: 18px;
    }
  }

  @include breakpoint-for(small) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
