// -------------------------------------------
//   Icons
// -------------------------------------------

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  speak: none;
  background-size: contain;
}
