<div class="content grid">
  <article class="about-page-layout">
    <section class="five columns hide-small iamge-wrapper">
      <img src="/build/img/about-me.jpg" alt="Roberto Dip picture">
    </section>

    <section class="article-content seven columns mobile-full-width">
      <h2 class="heading heading-three">About Me</h2>

      <p>
        I'm above all things a front-end developer (HTML, CSS, JavaScript) with a focus on scalable and performant user interfaces. Also, I'm experienced in Back End tasks, working with Ruby, and Ruby frameworks based on rack (Rails, Sinatra, Cuba). Before starting my freelance career, I worked for different companies in Tucuman, all of which are in the web technology business.
      </p>

      <p>
        I'm passionate about web standards and obsessive about using the right tool for each problem.
      </p>

      <p>
        I also have some experience with other technologies that I have used for for fun in personal projects, namely PHP and Go and Node.js,.
      </p>

    </section>


    <ul class="timeline">
      {{ range $.Site.Data.timeline }}
        <li class="three columns mobile-full-width">
          <h3 class="heading heading-four">{{ .title }}</h3>
          <ul class="sub-list">

            {{ range .items }}
              <li>
                <h4 class="content-title">{{ .title }}</h4>
                {{ if .timeLapse }}<span class="time-lapse">{{ .timeLapse }}</span>{{ end }}
                <p>{{ .description | safeHtml }}</p>
              </li>
            {{ end }}

          </ul>
        </li>
      {{ end }}

    </ul>

  </article>
</div>
