// -------------------------------------------
//   Svg background with fallback
// -------------------------------------------

@mixin svg-bg-with-fallback($file_name, $fallback-on-android: false) {
  background-image: url('/assets/#{$file_name}.svg');
  html.no-svg & {
    background-image: url('/assets/#{$file_name}.png');
  }

  @if $fallback-on-android {
    body.android & {
      background-image: url('/assets/#{$file_name}.png');
    }
  }
}
