    </main>

    <div id="menu" class="modal" style="display: none;" data-behavior="modal" aria-hidden="true" role="dialog">
      <ul class="modal-content" role="navigation">
        <li><a href="/" class="heading heading-one heading-extra-padding">Home</a></li>
        <li><a href="/about/" class="heading heading-one heading-extra-padding">About</a></li>
        <li><a href="/work/" class="heading heading-one heading-extra-padding">Work</a></li>
        <li><a href="http://journal.roperzh.com" target="_blank" class="heading heading-one heading-extra-padding">Journal</a></li>
      </ul>
    </div>

    <script src="/build/js/main.js"></script>

    {{ partial "helpers/analytics.html" }}

  </body>
</html>
