// -------------------------------------------
//   Fonts
// -------------------------------------------

/* Definitions */
$font-base: sans-serif;
$font-secondary: 'Montserrat', sans-serif;

/* Modifiers */

.colorize-alert {
  color: $alert-text-color;
}

.colorize-o {
  color: $primary-text-color-o;
}

.colorize-featured {
  color: $tertiary-text-color;
}
