// -------------------------------------------
//   Grid Overrides
// -------------------------------------------

.column, .columns {
  &.mobile-full-width {
    @include breakpoint-for(small) {
      width: 100%;
    }
  }
}

.hide-notsmall {
  @include breakpoint-for(notsmall) {
    display: none!important;
  }
}

.hide-small {
  @include breakpoint-for(small) {
    display: none!important;
  }
}

.grid {
  @include breakpoint-for(small) {
    padding: 0 15px;
  }
}
