// -------------------------------------------
//   About Page Layout
// -------------------------------------------

.about-page-layout {

  p {
    margin-bottom: 20px;

    font-size: 15px;
  }

  img {
    width: 100%;
  }

  .timeline {
    margin-top: 50px;
  }

  @include breakpoint-for(small) {
    .image-wrapper {
      margin-bottom: 40px;

      text-align: center;
    }
  }
}
