// -------------------------------------------
//   Headings
// -------------------------------------------

.heading {
  display: inline-block;
  padding: 3px 8px;
  margin: 5px 0 15px;
  color: $primary-text-color-o;
  @include font-with-fallback($font-secondary);
  background: $default-box-background;

  &.heading-o {
    color: $primary-text-color;
    background-color: transparent;
  }

  &.heading-featured {
    color: $tertiary-text-color;
    padding: 0;
    background-color: transparent;
  }

  &.heading-extra-padding {
    padding: 6px 21px;
  }
}

.heading-one {
  font-size: 30px;
}

.heading-two {
  font-size: 26px;
}

.heading-three {
  font-size: 22px;
}

.heading-four {
  font-size: 18px;
}

.heading-five {
  font-size: 15px;
}
