// -------------------------------------------
//   Social collection
// -------------------------------------------

.social-collection {
  margin: 0;
  padding: 0;
  list-style: none;

  @include clearfix();

  li {
    margin: 0 8px;
    float: left;

    a {
      width: 22px;
      height: 22px;

      svg path, svg polygon {
        fill: $primary-text-color;
        transition: fill .3s ease;
      }

      &:hover {
        svg path, svg polygon {
          fill: $contrast-text-color;
        }
      }
    }
  }
}
