// -------------------------------------------
//   Timeline
// -------------------------------------------

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;

  .sub-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px 0;

      font-size: 13px;

      border-bottom: 1px solid $default-border-color;

      &:last-child {
        border-bottom: none;
      }
    }

    .content-title {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .time-lapse {
      color: $tertiary-text-color;
      display: inline-block;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      margin-top: 5px;
      color: $tertiary-text-color;
    }
  }

  li:last-of-type {
    li {
      border-bottom: none;
    }
  }

  @include breakpoint-for(small) {
    > li {
      margin: 20px 0;
      text-align: center;
    }

    .sub-list {
      li {
        text-align: left;
        padding: 20px 0;
      }
    }
  }
}
