// -------------------------------------------
//   Horizontal Navigation
// -------------------------------------------

.horizontal-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  @include font-with-fallback($font-secondary);

  @include clearfix();

  li {
    float: left;
    letter-spacing: normal;
    margin: 0 15px;
    font-size: 21px;

    &:not(:last-child) {
      &:after {
        content: "/";
        margin-left: 15px;
        color: $contrast-text-color;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    a {

      transition: color .3s ease;

      &:hover {
        color: $contrast-text-color;
      }

      &.active {
        color: $contrast-text-color;
        pointer-events: none;
      }
    }
  }

  @include breakpoint-for(small) {
    li {
      font-size: 18px;
    }
  }
}
