// -------------------------------------------
//   Logo
// -------------------------------------------

.logo {
  display: inline-block;

  .logo-image {
    display: inline-block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;

    @include svg-bg-with-fallback('blog-logo-with-letters-green');
    @include hide-text();
  }
}
